.read_more {
  display: flex;
  padding-left: 20px;
  font-weight: 100;
  font-size: 10px;
  cursor: pointer;
  color: var(--twitter-color);
  height: 60px;
  align-items: center;
  border-bottom: 1px solid var(--twitter-background);
}
.read_more:hover {
  background-color: var(--twitter-background);
}
.read_more > h1 {
  padding-top: 0px;
  padding-bottom: 8px;
}
