.trends {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--twitter-background);
  margin: 0;
  padding-top: 8px;
  cursor: pointer;
}

.trends:hover {
  background-color: var(--twitter-background);
}
.trend_topic > h1 {
  padding: 8px;
  padding-top: 0px;
  padding-left: 18px;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}

.trends_header {
  display: flex;
  justify-content: space-between;
}

.trends_header > p {
  color: grey;
  font-size: 12px;
  margin-right: 2px;
}
.trend_topic > p {
  color: grey;
  font-size: 12px;
  margin: 0;
  padding-left: 18px;
}
